:root {
    --background: #5e718b;
    --highlight: #c9db32;
    --section: #dbafd2;
    --text1:#EEECE1;
    --background2: #FFF;
    --text2:#00000fff;
    // socials
    --social-bg:#ffffff;
    --facebook:#3b5998;
    --twitter:#5da9dd;
    --youtube:#fe0108;
    --github:#1b1f23;
    --linkedin:#0077b5;
    --social-logo:ffffff;

}