.about {
    display: block;
    padding: 0 20px;
    background: var(--background);
    color: var(--text1);
    min-height: var(--sectionHeigth);
    
    
}

.aboutme-info {
    max-width: 1600px;
    margin: 0 auto;
    
}

.sectioncontainder{
    max-width: 1600px;
    margin: 0 50px;
    padding: 5px 50px 50px 50px;
    background: var(--section);
    border-radius: 20px;

}