.about {
    display: block;
    padding: 20px;
    background: var(--background);
    color: var(--text1);
    height: var(--sectionHeigth);
    
    
}

.aboutme-info {
    max-width: 1600px;
    margin: 0 auto;
    
}