.introduction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--background);
    color: var(--text1);
    height: var(--sectionHeigth);
}

p {
    justify-content: center;
}

@media (max-width: 480px) {

    .introduction{
        flex-wrap: wrap;
    }
    
}